services:
  static_hosting:
    image: nginx
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./settings/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 80:80
    depends_on:
      accessible_backend:
        condition: service_completed_successfully

  backend:
    image: couchdb:3
    ports:
      - 5984:5984
    environment:
      - COUCHDB_USER
      - COUCHDB_PASSWORD
    volumes:
      - couchdb-data:/opt/couchdb/data
    healthcheck:
      test: curl -f http://localhost:5984/_up || exit 1
      start_period: 10s
      start_interval: 2s

  accessible_backend:
    image: curlimages/curl
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        alias put="curl -X PUT -u '${COUCHDB_USER}:${COUCHDB_PASSWORD}'"
        put backend:5984/_node/nonode@nohost/_config/chttpd/enable_cors --data '"true"'
        put backend:5984/_node/nonode@nohost/_config/cors/origins --data '"*"'
        put backend:5984/users
        put backend:5984/users/_security --data '{"members":{"roles":[]},"admins":{"roles":["_admin"]}}'
        put backend:5984/trips
        put backend:5984/trips/_security --data '{"members":{"roles":[]},"admins":{"roles":["_admin"]}}'
        put backend:5984/bookings
        put backend:5984/bookings/_security --data '{"members":{"roles":[]},"admins":{"roles":["_admin"]}}'
    depends_on:
      backend:
        condition: service_healthy

volumes:
  couchdb-data:
