name: Test et Analyse Green IT
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download sources
        uses: actions/checkout@v5

      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install

      - name: Build frontend
        run: |
          cd frontend
          npm run build

      - name: Save frontend build for later
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: frontend/dist

      - name: Start frontend
        run: |
          cd frontend
          docker compose up --detach

      - name: Install GreenIT Analysis CLI
        run: |
          wget https://github.com/cnumr/GreenIT-Analysis-cli/archive/refs/heads/master.zip
          unzip master.zip
          cd GreenIT-Analysis-cli-master
          npm install
          npm link

      - name: Wait for frontend
        uses: docker://benel/wait-for-response:1
        with:
          args: http://localhost/ 200 30000 500

      - name: Watch frontend initial payload
        run: curl --silent localhost

      - name: Run GreenIT Analysis CLI
        run: |
          greenit analyse --format html --ci greenit-analysis/scenarios/recherche-covoiturage.yml

      - name: Save results
        uses: actions/upload-artifact@v4
        with:
          name: EcoIndex
          path: "*.html"

  measure_ecoindex:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download sources
        uses: actions/checkout@v5

      - name: Get frontend build
        uses: actions/download-artifact@v4
        with:
          name: frontend-build
          path: frontend/dist
